# OpenSSL configuration file.
# Establish working directory.

dir=.

[ ca ]
default_ca            = CA_default
 
[ CA_default ]
default_days          = 365
default_md            = md5
 
[ policy_match ]
countryName	                = match
stateOrProvinceName         = match
organizationName            = match
organizationalUnitName      = optional
commonName                  = supplied
emailAddress                = optional
 
[ req ]
default_bits                = 2048            # Size of keys
default_keyfile             = server.key      # name of generated keys
default_md                  = md5             # message digest algorithm
string_mask                 = nombstr         # permitted characters
distinguished_name          = req_distinguished_name
req_extensions              = v3_req
 
[ req_distinguished_name ]
# Variable name				Prompt string
#-------------------------	  ----------------------------------
0.organizationName            = Organization Name (Danny Arends)
organizationalUnitName        = Organizational Unit Name (department, division)
emailAddress                  = Email Address
emailAddress_max              = 40
localityName                  = Locality Name (Groningen, Groningen)
stateOrProvinceName           = State or Province Name (Groningen)
countryName                   = Country Name (DE)
countryName_min	              = 2
countryName_max               = 2
commonName                    = Common Name (localhost)
commonName_max                = 64
 
# Default values for the above, for consistency and less typing.
# Variable name				Value
#------------------------	  ------------------------------
0.organizationName_default          = Danny Arends
localityName_default                = Berlin, Berlin
stateOrProvinceName_default         = Berlin
countryName_default                 = DE
commonName_default                  = localhost
 
[v3_ca]
basicConstraints                    = CA:TRUE
subjectKeyIdentifier                = hash
authorityKeyIdentifier              = keyid:always,issuer:always
 
# Extensions to add to a certificate request
[v3_req]
basicConstraints      = CA:FALSE
keyUsage              = nonRepudiation, digitalSignature, keyEncipherment
subjectAltName        = @alt_names

[alt_names]
DNS.1 = localhost
IP.1 = 127.0.0.1            # Loopback

