# workerpool.d
MAX_CLIENTS = 2048
MAX_CLIENTS_PER_IP = 32
POOL_SIZE = 200

# client.d
MAX_HEADER_SIZE = 32768
MAX_REQUEST_SIZE = 2097152
MAX_UPLOAD_SIZE = 104857600
MAX_SSE_TIME = 60000

# process.d
MAX_CGI_OUTPUT = 10485760

# https.d
HANDSHAKE_TIMEOUT = 5000

# response.d
SERVERINFO = DaNode/0.0.3

# acme.d
USER_EMAIL = Danny.Arends@gmail.com
