# acme.d
user_email = Danny.Arends@gmail.com

# client.d
max_header_size = 32768
max_request_size = 2097152
max_upload_size = 104857600
max_sse_time = 60000

# https.d
handshake_timeout = 5000

# process.d
max_cgi_output = 10485760
cgi_timeout = 4500

# request.d
request_timeout = 5000

# response.d
serverinfo = DaNode/0.0.3

# workerpool.d
max_clients = 2048
max_clients_per_ip = 32
pool_size = 200
