$text-align  : left;
$text-valign : top;
$bg-color    : transparent;
$p-border    : 0;

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, 
u, i, center, dl, dt, dd, ol, ul, li, fieldset, 
form, label, legend, table, caption, tbody, 
tfoot, thead, tr, th {
  background      : $bg-color;
  border          : $p-border;
  margin          : $p-border;
  padding         :  1px;
  font-size       : 12px;
  vertical-align  : $text-valign;
  text-align      : $text-align;
}

body {
  background      : #4169e1;
  color           : #ffffff;
}

a { color           : #ddddff; }

a:hover {
  text-decoration : underline;
  color           : #eeeeff;
}

a:visited { color           : #ddddff; }

menu {
  text-align      : right;
}

.mybutton {
  width           : 120px;
}

.mbutton {
  width           : 100px;
}

.darkerbg {
  background      : #003399;
}

td {
  background      : $bg-color;
  border          : $p-border;
  margin          : $p-border;
  padding         : 4px;
  vertical-align  : $text-valign;
  text-align      : left;
}

.layout {
  width           : 100%;
  height          : 100%;
}

.limw {
  width           : 100px;
}

ul {
  margin          : 5px 0px 0px 20px;
}

h2 {
  font-size       : 20px;
  font-weight     : bold;
  margin          : 0px 0px 10px 0px;
}

h3 {
  font-size       : 16px;
  font-weight     : bold;
  margin          : 10px 0px 10px 0px;
}

.cntr {
  text-align      : center;
}

h4 {
  font-size       : 14px;
  font-weight     : bold;
}

.scontent{
  padding         : 12px 0px 0px 0px;
}

.leftm{
  padding         : 12px 0px 0px 40px;
}

.logo {
  font-size       : 32px;
  text-align      : left;
  font-weight     : bold;
  padding         : 23px 0px 0px 40px;
}
